body{
    margin-left: 0
}
header {
    margin-top:-25 ;
    border: 2px solid #333; /* Borda sólida */
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
    background-color: #FFF159;
}
header h1 {
    text-align: left;
    margin-top: 25
}
#caixa {
    height: 50px;
    width: 500px;
    margin-top: 25px;
    font-size:20px;
}
#caixa::placeholder{
    font-size: 20px;
}
#cabeca {
    display: flex; /* Torna o contêiner um flex container */
    align-items: center; /* Alinha verticalmente os elementos ao centro */
}

#cabeca h1 {
    margin-right: 20px;
    margin-left: 5px;
}
#nav{
    margin-left: 0;
    width: 300px;
    height: 660;
    float: left;
    background-color: #FFF159;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);

}
#principal {
    height: 660px;
    background-color: lightgrey;
}
.produto {
    width:20%; /* Define a largura desejada para cada produto */
    display: inline-block; /* Torna as divs produtos exibidas em linha */
    margin: 20px; /* Adiciona margens entre os produtos para espaçamento */
    text-align: center; /* Centraliza o conteúdo dentro de cada produto */
}

.produto img {
    max-width: 100%; /* Garante que a imagem não se estenda além da largura do contêiner */
    border: 2px solid black
}