header {
    margin:-25 -7 auto -7;
    background-color: #FFD700;
    height: 100px;
}
header h1 {
    float: left;
    margin: 30px;
}
#container {
    background: rgb(230, 230, 230);
    height: 100%;
    width: 100%;
    display: flex;
}
#imagem {
    height: 100%;
    width: 25%;
    display: inline-block;
}
img.img_prod {
    margin: 15px 15px auto;
}
img#prod1 {
    margin-right: 40px;
}
ul {
  list-style-type: none;
  float: left;
}
#trocarimg {
  margin-left: 50px;
}
#info {
    height: 100%;
    width: 50%;
    display: inline-block;
    margin-left: 20px;
}
#compra {
    border-top: solid 2px rgba(0,0,0, 0.1);
    border-left: solid 2px rgba(0,0,0, 0.1);    
    height: 100%;
    width: 25%;
    display: inline-block;
}
.informa{
    margin: 10px;
    font-size: 14.5pt;
}
h1.informa {
    font-size:26pt;
    margin-bottom: -10px;
}
h2.informa {
    font-size:20pt;
    margin-bottom:-10px;
}
p#preco {
    font-size: 30pt;
}
p#frete {
    margin-top: -12px;
    color: rgba(0,0,0, 0.8);
}
p#info-car {
    text-align: justify;
    margin-left: 20px;
    margin-top: -10px;
}
button {
  font-family: monospace;
  font-size: 14pt;
  color: #FAFAFA;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #FAFAFA;
  background: #2d49ad;
  box-shadow: 3px 3px #fafafa;
  cursor: pointer;
  margin: 35px 0;
}
button#carrinho {
  font-family: monospace;
  font-size: 14pt;
  color: #2d49ad;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #FAFAFA;
  background: #FAFAFA;
  box-shadow: 3px 3px #fafafa;
  cursor: pointer;
  margin-top: -20px;
}

button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}
.group {
 display: flex;
 line-height: 28px;
 position: relative;
 padding-top: 30px;
 margin: 0 0 auto;
}

.input {
 width: 500px;
 height: 40px;
 line-height: 28px;
 padding: 0 1rem;
 padding-left: 2.5rem;
 border: 2px solid transparent;
 border-radius: 8px;
 outline: none;
 background-color: #f3f3f4;
 color: #0d0c22;
 transition: .3s ease;
}

.input::placeholder {
 color: #9e9ea7;
}

.input:focus, input:hover {
 outline: none;
 border-color: rgba(234,76,137,0.4);
 background-color: #fff;
 box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
 position: absolute;
 left: 1rem;
 fill: #9e9ea7;
 width: 1rem;
 height: 1rem;
 margin: 11px auto;
}

.rating {
  display: inline-block;
  margin: 10px;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}

.rating label:before {
  content: '\2605';
  font-size: 30px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: #FFD700;
  transition: color 0.3s;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.container svg {
  position: relative;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  transition: all 0.3s;
  fill: #666;
}

.container svg:hover {
  transform: scale(1.1);
}

.container input:checked ~ svg {
  fill: #E3474F;
}
#favorito {
    display: inline-block;
    float: right;
    margin:20px 20px auto auto;
}
a {
  color: #000000;
  text-decoration: none;
}